{% extends 'base.html' %}

{% block content %}
<h1>{{ category_name }} Products</h1>
<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-thumbnail"/>
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description|truncatewords:15 }}</p>
                <a href="{% url 'product_detail' product.slug %}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Нет товаров в выбранной категории.</p>
    {% endfor %}
</div>
{% endblock %}